<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      I am a Registered Dietitian, is behind some of the most effective health transformation results for more than 10 years.  <br/>

      Also a Certified Diabetes Educator with extensive experience in working with clients living with Prediabetes, Type 1, Type 2 and Gestational Diabetes.  <br/>

      She stays current on the latest evidence-based nutrition strategies, including anti-inflammatory diets and approaches to optimize health and prevent disease.  <br/>

      Her forte is to enable her clients adopt a healthy lifestyle and provide life-ready nutrition guidance so that they can take charge of their health.
      For more info, check out my
      <a href="{{ site.nav.main.blog }}">blog</a>,
      <a href="{{ site.nav.main.talks }}">talks</a>.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
