<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <ul>
      <li>I am Arpita - a <b>Registered Dietitian</b>, and have been contributing to some of the most effective health transformation results for more than <b>10 years</b>. </li>
      <li>I am also a <b>Certified Diabetes Educator</b> with extensive experience in working with clients living with Prediabetes, Type 1, Type 2 and Gestational Diabetes.</li>
      <li>I stay current on the latest evidence-based nutrition strategies, including anti-inflammatory diets and approaches to optimize health and prevent disease.</li>
      <li>My aim is to enable my clients to adopt a healthy lifestyle and provide life-ready nutrition guidance so that they can take charge of their health.</li>
      <li>I also share my knowledge in both long form content on my <a href="{{ site.nav.main.blog }}">blog</a>,  <a href="{{ site.nav.main.talks }}">talks</a> and short form content on <a href="https://www.instagram.com/dietitian_nourishandthrive" target="_blank">my social media feed</a>.</li>
    </ul>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
